 /* padrão de computador*/
/**{
    color: white;
}
*/
 @media (max-width: 4000px)  {

    body{
        background-color: blue;
    }
}
 /* padrão de tablet*/
@media (max-width: 768px) {
   
}
 /*padrão de celular*/
@media (max-width: 350px) {
    
        body{
        background-color: pink;
    }

    header img{
        margin-top: 5px;
        margin-left: 5px;
    }
    .s1 img{
border-radius: 50%;
outline: 3px solid white ;
outline-offset: 1px;

    }
    .direita{
        text-align: right;
    }


.s1 h1{
    font-size: 30px;
    font-weight: bold;
    color: blue;
    padding: 30 px 0px;
}
.slider {
    width: 100%;
    height: 230px;
    overflow: hidden;
    padding: 20px 0px;;

}
.slider_principal{
    display: flex;
    width: 200%;
}

.slidee {
    width: 50%;
    transition: margin-left 2s;

}
/*
.slider input{
    text-align: center;
}
    */
.quadradinhos{
    text-align: center;
    margin-top: -30px;
}
.quadradinhos label{
margin-left: 5%;
margin-right: 5%;
color: white;
}

.slider input{
    display: none;
}

#bola1:checked~ .primeiro{
    margin-left: 0%;
}
#bola2:checked~ .primeiro{
    margin-left:-50%;
}

.quadradinhos img{
    width: 5%;
   outline: 3px solid white;
}
}